/* Removing all padding and margin from every element */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables list*/
:root {
    --color-purple: #800080;
    --color-black: black;
    --color-white: #fff;
    --color-cyan: cyan;
    --color-yellow: yellow;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    /* flex-row class added in html */
    padding: 20px 35px;
    background-color: var(--color-black);
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;

    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

header a {
    text-decoration: none;
    color: var(--color-yellow);
}

header nav ul {
    /* Flex-row added in html */
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow:  0 0 10px rgba(255, 255, 255, 0.5);
}

header nav ul li a:hover {
    background: var(--color-purple);
    color: var(--color-cyan);
    border-radius: 15px;
    text-shadow: none;
}

footer {
    background: var(--color-black);
    padding: 45px 35px;
    /* added flex-row to html */
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    color: var(--color-yellow);
}

footer h2 {
    font-size: 30px;
    line-height: 1.5;
}

section {
    padding: 60px;
}

/* global classes */

.flex-row {
    display: flex;
}

.border-style {
    border: 5px solid violet;
    margin: 5px;
}

.text-left {
    text-align: left;
}
/* end global classes */

/* Styling for the div section */
.hero {
    text-align: right;
}


/* Start of styling for intro class section */
.about-me {
    border-right: 5px solid var(--color-black);
    font-size: 46px;
    text-align: right;
    padding: 25px;
}

.intro p {
    line-height: 1.7;
    color: var(--color-black);
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}
/* End of styling for intro class section */

/* start of styling for work section */
.work {
    margin: 0px auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}

.work h2 {
    border-right: 5px solid var(--color-black);
    font-size: 46px;
    text-align: right;
    padding: 25px;
}

.work img {
    padding: 20px;
}

.work-box {
    background-color: lightblue;
}
.work-box h3 {
    font-weight: bold;
    text-align: center;
}
.work-box p{
    text-align: center;

}

.main-work-container {
    display: flex;
    flex-wrap: wrap;
}

.project {
    flex-basis: 400px;
    flex-grow: 1;
}

.minor-project {
    flex-basis: 45%;
}

.other-work-container {
    padding: 20px;
    width: 0%;
    margin: 0px auto;
}

.other-work-left{
    display: flex;
    flex-direction: row;
}

.other-work-right {
    display: flex;
    flex-direction: row;
}

/* end of styling for work section */

/* contact me styling */

.contact-me-container {
    display: flex;

}

.contact-info-container {
    margin: 15px;
}

section ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section ul li p {
    padding: 15px;
}

section ul li a {
    padding: 15px;
}

/* end of contact me styling */


@media screen and (max-width: 980px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 575px) {
    
}